<html ng-app="checklistApp">
  <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/checklist/checklist-ext.css">
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app/app.js"></script>
  <body ng-controller="checklistController">
    <div class="container">
      <div class="row title-bar">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active:isSet(1)}">
            <a href='#' ng-click="setTab(1)">
              Checklist 1
            </a>
          </li>
          <li role="presentation" ng-class="{active:isSet(2)}">
            <a href='#' ng-click="setTab(2)">
              Checklist 2
            </a>
          </li>
          <li role="presentation" ng-class="{active:isSet(3)}">
            <a href='#' ng-click="setTab(3)">Settings</a>
          </li>
          <li role="presentation">
            <div class="btn-container pull-right">
              <button class="btn btn-default popup-btn" ng-click="fetchList()">Refresh</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container popup popup-hide" ng-show="isSet(1)">
      <form class="form-inline popup-form" ng-submit="addTask(firstList)">
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group popup-form-group">
              <input type="text" id="itemName" class="form-control" placeholder="Item name" ng-model="newItem.name">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <button class="btn btn-default btn-primary pull-left" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <hr class="divider popup-line">
      <div class="panel panel-default popup-panel" ng-repeat="(id, item) in items" ng-class="item.done == true ? 'panel-success' : 'panel-danger'">
        <div class="panel-heading popup-panel-body">
          <div class="row">
            <div class="col-xs-8">
              {{ item.name }}
            </div>
            <div class="pull-right col-xs-4">
              <div style="float:right">
                <button type="button" class="btn btn-default btn-md" ng-click="completeTask(firstList, id)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-default btn-md" ng-click="deleteTask(firstList, id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container popup popup-hide" ng-show="isSet(2)">
      <form class="form-inline popup-form" ng-submit="addTask(secondList)">
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group popup-form-group">
              <input type="text" id="itemName" class="form-control" placeholder="Item name" ng-model="newItem.name">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <button class="btn btn-default btn-primary pull-left" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <hr class="divider popup-line">
      <div class="panel panel-default popup-panel" ng-repeat="(id, item) in items" ng-class="item.done == true ? 'panel-success' : 'panel-danger'">
        <div class="panel-heading popup-panel-body">
          <div class="row">
            <div class="col-xs-8">
              {{ item.name }}
            </div>
            <div class="pull-right col-xs-4">
              <div style="float:right">
                <button type="button" class="btn btn-default btn-md" ng-click="completeTask(secondList, id)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-default btn-md" ng-click="deleteTask(secondList, id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container popup popup-hide" ng-show="isSet(3)">
      <form class="form-inline popup-form" ng-submit="storage.memorize('authentication', authentication)">
        <div class="row">
          <div class="col-xs-12">
            <h4>Authentication</h4>
          </div>
          <div class="col-xs-9">
            <div class="form-group popup-form-group">
            <input type="text" class="form-control" placeholder="Enter base64 encoded credentials" ng-model="authentication">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <button class="btn btn-default btn-primary pull-left" type="submit">Submit</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Primary list</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group popup-form-group">
              <input type="text" class="form-control" placeholder="Enter list name" ng-model="firstList" ng-change="storage.memorize('firstList', firstList)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Secondary list</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group popup-form-group">
              <input type="text" class="form-control" placeholder="Enter list name" ng-model="secondList" ng-change="storage.memorize('secondList', secondList)">
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>