<html ng-app="checklistApp">
  <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/checklist/checklist-ext.css">
  <script src="js/lib/angular.min.js"></script>
  <script src="js/app/app.js"></script>
  <body ng-controller="checklistController">
    <div class="container">
      <div class="row title-bar">
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active:isSet(1)}">
            <a href='#' ng-click="setTab(1)">Checklist</a>
          </li>
          <li role="presentation" ng-class="{active:isSet(2)}">
            <a href='#' ng-click="setTab(2)">Settings</a>
          </li>
          <li role="presentation">
            <div class="btn-container pull-right">
              <button class="btn btn-default popup-btn" ng-click="fetchItems()">Refresh</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container popup popup-hide" ng-show="isSet(1)">
      <form class="form-inline popup-form" ng-submit="addTask()">
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group popup-form-group">
              <input type="text" id="itemName" class="form-control" placeholder="Item name" ng-model="newItem.name">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <button class="btn btn-default btn-primary pull-left" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
      <hr class="divider popup-line">
      <div class="panel panel-default popup-panel" ng-repeat="(id, item) in items" ng-class="item.done == true ? 'panel-success' : 'panel-danger'">
        <div class="panel-heading popup-panel-body">
          <div class="row">
            <div class="col-xs-8">
              {{ item.name }}
            </div>
            <div class="pull-right col-xs-4">
              <div style="float:right">
                <button type="button" class="btn btn-default btn-md" ng-click="completeTask(id)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-default btn-md" ng-click="deleteTask(id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container popup popup-hide" ng-show="isSet(2)">
      <input type="text" class="form-control" placeholder="Authentication" ng-model="authentication">
    </div>
  </body>
</html>