.popup {
	width: 400px;
	min-height: 200px;
}

.popup-btn {
	margin-top: 8px;
	float: right;
}

.popup-line {
	margin-bottom: 5px;
	margin-top: 5px;
}

.popup-form {
	margin-bottom: 5px;
}

.popup-panel {
	margin-bottom: 5px;
}

.popup-panel-body {
	padding: 5px;
}