<!doctype html>
<html ng-app="checklistApp">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-controller="checklistController">
    <div ng-if="loading">
      <h2>Loading...</h2>
    </div>
    <tabset>
      <div ng-repeat="list in profile | limitTo:2 track by $index">
        <checklist-detail></checklist-detail>
      </div>
      <!-- Ugly hack so that settings doesn't become the first tab -->
      <div ng-repeat="list in profile | limitTo: 1">
        <settings></settings>
      </div>
    </tabset>
    <!-- build:js scripts/popup-vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/index.js"></script>
    <script src="scripts/capitaliseFilter.js"></script>
    <script src="scripts/storageFactory.js"></script>
    <script src="scripts/taskResourceFactory.js"></script>
    <script src="scripts/profileResourceFactory.js"></script>
    <script src="scripts/tabsetDirective.js"></script>
    <script src="scripts/checklistDetailDirective.js"></script>
    <script src="scripts/settingsDirective.js"></script>
    <script src="scripts/checklistController.js"></script>
    <!-- endbuild -->
  </body>
</html>
